services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - llm

  llm:
    image: vllm/vllm-openai:v0.15.0-cu130
    gpus: all
    ipc: host
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - PYTORCH_ALLOC_CONF=expandable_segments:True
      - NVIDIA_DISABLE_CUDA_COMPAT=1
      - LD_LIBRARY_PATH=/usr/local/nvidia/lib64:/usr/local/nvidia/lib:/lib/x86_64-linux-gnu
    volumes:
      - ./models:/models
      - ~/.cache/huggingface:/root/.cache/huggingface
    ports:
      - "8001:8000"

    entrypoint: ["/bin/bash","-lc"]
    command: >
      set -eux;
      echo "Before cleanup:"; ldconfig -p | grep -E "libcuda\.so\.1" || true;
      rm -f /usr/local/cuda-13.0/compat/libcuda.so* || true;
      rm -f /usr/local/cuda/compat/libcuda.so* || true;
      ldconfig || true;
      echo "After cleanup:"; ldconfig -p | grep -E "libcuda\.so\.1" || true;
      vllm serve /models/Llama-3.1-8B-Instruct-AWQ
        --host 0.0.0.0 --port 8000
        --quantization awq_marlin
        --max-model-len 2048
        --gpu-memory-utilization 0.90
        --enforce-eager

